.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create-room a {
  padding: 14px;
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}

.side-main {
  height: calc(100vh - 100px);
  padding: 0 20px;
  background-color: #2f3e51;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}
.room-name a{
  color: white;
  text-decoration: none;
}

.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-header {
  height: 100px;
  padding: 0 40px;
}

.chat-main {
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  background-color: #fafafa;
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color: #dddddd;
}
